{% extends "web_app/index.html" %}
{% load crispy_forms_tags %}
{% block content %}


   <!--here in profile page i had created to show username,email and profile pic -->
<div class="content-section">
    <div class="media">
      <div class="media-body">
        <h2 class="account-heading"> {{ user.username }} </h2>
        <p class="text-secondary"> {{ user.email }}</p>
      </div>
    
      <img style=" border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;" class="rounded-circle account-img" src="{{ user.profile.image.url }}">
  <!-- profile pic path -- >
    </div>
    <!-- FORM HERE -->
  </div>
{% endblock content %}
